/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.row1 [class*="col-"] {
  float: left;
  margin-left: 4%;
  width: 20%;
}

.row2 [class*="col-"] {
  float: left;
  margin-left: 4%;
  width: 44%;
}

.row3 .col-1 {
  float: left;
  margin-left: 4%;
  width: 20%;
}
.row3 .col-2 {
  float: left;
  margin-left: 4%;
  width: 68%;
}
.row4 .col-1 {
  float: left;
  margin-left: 4%;
  width: 92%;
}

@media only screen and (max-width: 768px) {
  .row1 [class*="col-"] {
    float: left;
    margin-left: 4%;
    width: 44%;
  }
}
@media only screen and (max-width: 479px) {
  .row [class*="col-"] {
    width: 98%;
    margin: 1%;
    float: none;
  }
}

/* grid system -- mobile first! */

/* Mobile Landscape Screen Sizes */
/* @media only screen and (min-width: 480px)  {

} */
/* Desktop screen Sizes */
/* @media only screen and (min-width: 768px) {

} */
