html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :root {
      --bg-color: #FDFFFC;
      --font-color: #F24333;
      --third-color: #668586;
      --fourth-color: #F7B32B;
      --fifth-color: #5CF64A;
    
  }
  body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    color: var(--font-color);
  }
  .wrapper {
      display: flex;
      flex-direction: column; 
      padding: 2vh;
  }
  .heading {
      flex: 2;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-bottom: 5vh;
  }
  .heading h1 {
      font-size: 3rem;
  }
  .title {
      flex-basis: 100%;
  }
  .breed-select {
      flex: 1;
  }
  .number-select {
      flex: 1;
  }
  .theme-select {
      flex:1;
  }
  .picture-viewer {
      flex:20;
      background: var(--bg-color);
      display: grid;
      grid-gap: 5vw;
      grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

      
  }
  .picture-card {
     display: grid;
     place-items: center center;
     background-image: url(./6.gif);
     background-repeat: no-repeat;
     background-position: center center;
  }
  .footer {
      flex:1;
  }