html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  :root {
    color-scheme: light dark; /* both supported */
  }

  body {
    --bg-color: #FDFFFC;
    --font-color: #F24333;
    --third-color: #668586;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    color: var(--font-color);
    background-color: var(--bg-color);
  }
  /* Dark theme colors here */
  body.dark-theme {
      --bg-color: #3C3744;
      --font-color: #FBFFF1;
      --third-color: #FFC4EB;
      filter: brightness(.8) contrast(1.2);
  }

  .wrapper {
      display: flex;
      flex-direction: column; 
      padding: 2vh;
  }
  .heading {
      flex: 2;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-bottom: 5vh;
  }
  .heading h1 {
      font-size: 3rem;
  }
  .title {
      flex-basis: 100%;
  }
  .breed-select {
      flex: 1;
  }
  .number-select {
      flex: 1;
  }
  .theme-select {
      flex:1;
  }
  .picture-viewer {
      flex:20;
      display: grid;
      grid-gap: 5vw;
      grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

      
  }
  .picture-card {
     display: grid;
     place-items: center center;
     background-repeat: no-repeat;
     background-position: center center;
  }
  .picture-card.light-theme {
    background-image: url(./loading.svg);
  }
  .picture-card.dark-theme {
    background-image: url(./loading-dark.svg);
  }
  .footer {
      flex:1;
  }
  label {
      display: block;
      padding-bottom: 3px;
      font-size: 1rem;
  }
  #doggo-number, #breed-select, #breed-select > option {
      color: var(--third-color);
      font-size: 1.2rem;
  }

  input {
      background-color: var(--bg-color);
  }

input[type=checkbox] {
    cursor: pointer;
    width: 1vw;
    height: 1vw;
}
#theme-toggle-label {
    cursor: pointer;
}
select {
    background-color: var(--bg-color);
    cursor: pointer;
}

.footer {
    width: 50%;
    padding-top: 3vw;
}

a {
    color: var(--third-color);
}

/* respect the user's color scheme choice but allow them to ovverride */
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body { 
        --bg-color: #3C3744;
        --font-color: #FBFFF1;
        --third-color: #FFC4EB;
        filter: brightness(.8) contrast(1.2);
    }
    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
        --bg-color: #FDFFFC;
        --font-color: #F24333;
        --third-color: #668586;
    }
  }
