/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  padding: 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
}
.row2 {
  grid-column: span 2;
}

.row3c2 {
  grid-column: span 3;
}
.row4 {
  grid-column: 1 / -1;
}

.row5c2 {
  grid-column: span 2;
}
@media only screen and (max-width: 768px) {
  .row1 {
    grid-column: span 2;
  }
  .row3c2 {
    grid-column: span 2;
  }
  .row5c2 {
    grid-column: span 3;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper > * {
    grid-column: 1 / -1;
  }
}
