/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1%;
}
.row > article {
  padding: 0 2vw;
}

.col1-4 {
  flex-basis: 25%;
}

.col1-6 {
  flex-basis: 50%;
}
.col1-8 {
  flex-basis: 75%;
}
.col1-12 {
  flex-basis: 100%;
}
.reverse {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .col1-4,
  .col1-6,
  .col1-8 {
    flex-basis: 50%;
  }
  .col1-4.col2 {
    flex-basis: 50%;
    order: 2;
  }
  .col1-6.col2 {
    flex-basis: 100%;
  }
  .reverse {
    flex-direction: row;
  }
}

@media only screen and (max-width: 480px) {
  [class*="col"] {
    flex-basis: 100%;
  }
}
